<!-- Se puede indicar las directivas de las dos formas
   [routerLink]="'/login'"
    routerLink="/basico"
-->

<ul>
  <li>
    <a routerLink="/home" 
        routerLinkActive="menuActive">
      Home
    </a>
  </li>
  <li>
    <a [routerLink]="'/login'"
        [routerLinkActive]="'menuActive'">
      Login
    </a>
  </li>
  <li>
    <a routerLink="/basico" 
        routerLinkActive="menuActive">
      Basico
    </a>
  </li>
  <li>
    <a routerLink="/productos" 
        routerLinkActive="menuActive">
      Listado de productos
    </a>
  </li>
 <!--<li>
    <a routerLink="/producto2"
       (click)="navegarPorTS()"
      routerLinkActive="menuActive">
      Producto TS
    </a>
  </li>--> 

  <li>
    <form #formulario='ngForm'
      (ngSubmit)="buscar(formulario)">
      <input type="text" 
        clave
        ngModel
        required
        name="clave"
        #clave="ngModel">
      <button type="submit">
        Buscar
      </button>
    </form>
  </li>
</ul>

<!-- Aqui se cargan los html enrutados -->
<router-outlet></router-outlet>

