<!-- Se puede indicar las directivas de las dos formas
   [routerLink]="'/login'"
    routerLink="/basico"
-->

<ul class="nav">
  <li class="nav-item">
    <a routerLink="/home" class="nav-link"
        routerLinkActive="menuActive">
      Home
    </a>
  </li>
  <li class="nav-item">
    <a [routerLink]="'/login'" class="nav-link"
        [routerLinkActive]="'menuActive'">
      Login
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/basico" class="nav-link"
        routerLinkActive="menuActive">
      Basico
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/productos" class="nav-link"
        routerLinkActive="menuActive">
      Listado de productos
    </a>
  </li>
 <!--<li>
    <a routerLink="/producto2"
       (click)="navegarPorTS()"
      routerLinkActive="menuActive">
      Producto TS
    </a>
  </li>--> 

  <li class="nav-item">
    <a routerLink="/buscar" class="nav-link"
    routerLinkActive="menuActive">
      Buscar usuario
    </a> 
  </li>

  <li class="nav-item">
    <a routerLink="/profile" class="nav-link"
    routerLinkActive="menuActive">
      Perfil
    </a> 
  </li>
</ul>

<div class="container">
  <!-- Aqui se cargan los html enrutados -->
  <router-outlet></router-outlet>
</div>
