<!-- Se puede indicar las directivas de las dos formas
   [routerLink]="'/login'"
    routerLink="/basico"
-->

<ul>
  <li>
    <a routerLink="/home" 
        routerLinkActive="menuActive">
      Home
    </a>
  </li>
  <li>
    <a [routerLink]="'/login'"
        [routerLinkActive]="'menuActive'">
      Login
    </a>
  </li>
  <li>
    <a routerLink="/basico" 
        routerLinkActive="menuActive">
      Basico
    </a>
  </li>
  <li>
    <a routerLink="/producto/1" 
        routerLinkActive="menuActive">
      Producto 1
    </a>
  </li>
  <li>
    <a routerLink="/producto2"
       (click)="navegarPorTS()"
      routerLinkActive="menuActive">
      Producto TS
    </a>
  </li>
</ul>

<!-- Aqui se cargan los html enrutados -->
<router-outlet></router-outlet>

